{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
      Welcome to WhitePeak, where we redefine the essence of Customer Relationship Management (CRM). At WhitePeak, we believe that every interaction with a customer should be meaningful, efficient, and tailored to foster long-lasting relationships. Our mission is to empower businesses of all sizes to thrive by providing them with cutting-edge CRM solutions that streamline operations, enhance customer engagement, and drive growth.
    </div>
  </div>
{% endblock %}