{% extends 'home/base.html' %}

{% block content %}
<br><br>
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
           <strong>{{ client.name }}</strong>
        </div>
        <div class="card-body">
            <p><strong>Name: </strong>{{ client.name }}</p>
            <p><strong>Email: </strong>{{ client.email }}</p>
            <p><strong>Description: </strong>{{ client.description }}</p>
            <p><strong>Created by: </strong>{{ client.created_by }}</p>
            <p><strong>Created at: </strong>{{ client.created_at }}</p>
            <p><strong>Modified at: </strong>{{ client.modified_at }}</p>
        </div>
      </div>
    
      <br>
      <a href="{% url 'clients_list' %}" class="btn btn-secondary">Clients</a>
      <a href="{% url 'update_client' client.id %}" class="btn btn-secondary">Update</a>
      <a href="{% url 'delete_client' client.id %}" class="btn btn-danger">Delete</a>
</div>
    
{% endblock %}